.infobulle{
    position: absolute;   
    visibility : hidden;
    border: 1px solid Black;
    padding: 10px;
    font-family: Verdana, Arial;
    font-size: 10px;
    /*background-color: #FFFFCC;*/
    background-color: orange;
    font-weight: bold;
    opacity : 0.75 ;
    -moz-opacity : 0.75 ;
    -khtml-opacity : 0.75 ;
    filter : alpha(opacity=75) ; 

}

